@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center; 
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-transform: uppercase; 
}

.logo img {
  width: 30px; 
  height: 30px; 
  margin-right: 10px; 
}

.navButtonI {
  font-family: 'Poppins', sans-serif;
  border: none;
  padding: 8px 15px;
  background-color: transparent;
  color: #feffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.navButtonI:hover,
.navButtonI:focus {
  background-color: #2d18cf;
  color: #f9ffff;
  border-radius: 5px;
}

.navButtonR {
  font-family: 'Poppins', sans-serif;
  border: none;
  padding: 8px 15px;
  background-color: transparent;
  color: #feffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.navButtonR:hover,
.navButtonR:focus {
  background-color: #2d18cf;
  color: #f9ffff;
  border-radius: 5px;
}

.navButtonC {
  font-family: 'Poppins', sans-serif;
  border: none;
  padding: 8px 15px;
  background-color: transparent;
  color: #feffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.navButtonC:hover,
.navButtonC:focus {
  background-color: #2d18cf;
  color: #f9ffff;
  border-radius: 5px;
}

.userMenu {
  position: relative;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  color: #333;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}

.dropdownItem {
  width: 100%;
  padding: 10px 15px;
  text-align: left;
  background: none;
  border: none;
  color: #003580;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.dropdownItem:hover {
  background-color: #2d18cf;
  color: #fff;
}

@media (max-width: 768px) {
  .navbar {
    height: 60px;
  }
  .navContainer {
    flex-direction: column;
    align-items: center;
  }
  .navButton {
    margin-top: 10px;
    padding: 6px 12px;
  }
}
